  <style>
  .timer-banner {
            background: rgb(197,187,174);
            padding: 0.7rem 2rem;
            text-align: center;
            color: white;
            font-family: var(--new-font-body-family);
            font-size: 1.4rem;
            letter-spacing: 0;
            {% comment %} margin-bottom: 15px; {% endcomment %}
            line-height: normal;
            font-weight: 500;
                width: calc(100% + 3rem);
    {% comment %} margin-left: -1.5rem; {% endcomment %}

        }
        
        {% comment %} .timer-value {
            font-weight: 600;
            font-family: 'Courier New', monospace;
        } {% endcomment %}
    </style>

    <div class="timer-banner">
        Stock is low | Your cart is reserved for <span class="timer-value" id="timer-d5">01:30</span>
    </div>

    