{% comment %}
  Renders the collapsible_description block (accordion wrapping product.description).

  Accepts:
  - block:   {Object} Block object
  - product: {Object} Product object

  Mechanical extraction of the 'collapsible_description' case from main-product-v2.liquid (lines 1995-2015).
{% endcomment %}

<accordion-tab class="product__accordion accordion" {{ block.shopify_attributes }}>
  <details
    {% if block.settings.keep_open %}
      open
    {% endif %}
  >
    <summary>
      <span class="summary__title">
        {% render 'icon-accordion', icon: block.settings.icon %}
        <span class="accordion__title">
          {{ block.settings.heading | default: block.settings.page.title | escape }}
        </span>
      </span>
      {% render 'icon', icon: 'plus' %}
    </summary>
    <div class="accordion__content rte">
      {{ product.description }}
    </div>
  </details>
</accordion-tab>
