{% comment %}
  Renders a separator block.

  Accepts:
  - block: {Object} Block object

  Mechanical extraction of the 'separator' case from main-product-v2.liquid (lines 2357-2360).
{% endcomment %}

<div class="product-separator" {{ block.shopify_attributes }}>
  <hr>
</div>
