.price {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--color-price);
}

@media screen and (max-width: 749px) {
  .price {
    font-size: 1.3rem;
  }
}

.price.price--unavailable {
  visibility: hidden;
}

.price--end {
  justify-content: flex-end;
}

.price bdi {
  line-height: 1;
  font-size: calc(var(--font-price-scale) * 1.4rem);
  font-family: var(--font-price-family);
}

@media screen and (min-width: 750px) {
  .price,
  .price bdi {
    font-size: calc(var(--font-price-scale) * 1.6rem);
  }
}

.price .price__prefix {
  font-size: 70%;
  margin-inline-start: 0.3rem;
  margin-inline-end: 0.3rem;
}

.price .price__suffix {
  font-size: 60%;
  line-height: calc(1 + 0.6 / var(--font-price-scale));
  margin-inline-start: 0.1rem;
}

.price price-money + price-money::before {
  content: '\2013';
  margin-inline-end: 0.7rem;
}

.price dl {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
}

.price dd {
  margin-inline-start: 0;
  margin-inline-end: 0.7rem;
}

.price .price__last:last-of-type {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .price {
    margin-bottom: 0;
  }
}

.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability,
.price--no-compare .price__compare {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-flex;
}

.price--on-sale .price__sale {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price--center {
  display: flex;
  justify-content: center;
}

.price--on-sale .price-item--regular {
  text-decoration: none;
  position: relative;
  color: rgba(var(--color-foreground), 1);
  letter-spacing: 0;
}

.price--on-sale .price-item--regular::before {
  /* content: '';
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 0.1rem solid var(--color-sale-price);
  opacity: 0.85; */
  /* transform: rotate(-15deg); */
}

.price--on-sale .price-item--regular bdi {
  /* font-weight: 300; */
  font-size: 1.3rem;
  text-decoration: line-through;
}
product-info .price--on-sale .price-item--regular bdi{
  font-weight: 700;
}

@media screen and (max-width: 749px) {
  .price--on-sale .price-item--regular bdi {
    font-size: 1rem;
  }
}

.price--on-sale .price-item--sale {
  color: var(--color-sale-price);
}

.unit-price {
  margin-top: 0.6rem;
  color: rgba(var(--color-foreground), 0.7);
  font-size: calc(var(--font-heading-scale) * 1.3rem);
}

.unit-price bdi {
  font-weight: 400;
  font-family: var(--font-heading-family);
  font-size: calc(var(--font-heading-scale) * 1.3rem);
}
