/* ##### Header ##### */
.header.header--menu-left-center .header__inline-menu {
  margin-top: 0 !important;
}
.header .header__inline-menu .list-menu--inline {
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.header .header__inline-menu .header__menu-item {
  letter-spacing: 0;
  padding-block: 0;
}
.header .header__icon .icon path {
  stroke-width: var(--icon-weight);
}
.header .header__icon {
  width: 4.5rem;
}
.header .header__icon.header__icon--menu {
  width: 5.2rem;
}
.header .header__icon .icon {
  width: 1.8rem;
  height: 1.8rem;
}
.header .header__icon .icon.icon-hamburger {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 749px) {
  .header .header__icon {
    width: 4.4rem;
  }
  .header .header__icon .icon {
    width: 1.7rem;
    height: 1.7rem;
  }
  .header .header__icon.header__icon--summary .icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .header .menu-drawer__inner-container .menu-drawer__menu-item {
    /* font-size: 1.4rem;
    padding-block: 1.2rem; */
  }
  .header .menu-drawer .header__icon .icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .header .menu-drawer-container .header__icon .icon path {
    stroke-width: 2.2px;
  }
}

/* Header New */
header.header-new.header--middle-left .header__inline-menu {
  text-align: center;
}
header.header-new .header__inline-menu .header__menu-item {
  font-family: var(--new-font-body-family);
  font-weight: 500;
}
header.header-new .is-megamenu > .list-menu-dropdown .page-width {
  --grid-horizontal-spacing: 4rem;
}
header.header-new .mega-menu__promo {
  flex: 0 0 16rem;
}
header.header-new .is-megamenu.show-images .mega-menu__item {
  width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
}
header.header-new .list-menu-dropdown .list-mega-menu {
  --grid-horizontal-spacing: 4rem;
  max-width: calc(100% - 2.5rem);
}
header.header-new .list-mega-menu .mega-menu__item > .mega-menu__item-link {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(var(--color-header-foreground));
}
header.header-new .list-mega-menu .mega-menu__item > .mega-menu__item-link .header__menu-item {
  font-family: var(--new-font-heading-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(var(--color-header-foreground));
  letter-spacing: 0;
  text-transform: none;
}
header.header-new .list-mega-menu .mega-menu__item .list-menu .header__menu-item {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(var(--color-header-foreground));
  letter-spacing: 0;
  padding-block: 0.5rem;
}
header.header-new .mega-menu__promos-wr {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
header.header-new .mega-menu__promo-content {
  text-align: left;
  padding-top: 0.3rem;
}
header.header-new .mega-menu__promo-content .mega-menu__promo-heading {
  font-family: var(--new-font-body-family);
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(var(--color-header-foreground));
  letter-spacing: 0;
  text-transform: none;
}
header.header-new .mega-menu__promo-subheading {
  font-family: var(--new-font-body-family);
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(var(--color-header-foreground));
  letter-spacing: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
header.header-new .mega-menu__promo-subheading s {
  color: rgba(var(--color-header-foreground), 0.6);
}
header.header-new .mega-menu__promo-subheading strong {
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  header.header-new .mega-menu__promo {
    flex: 0 0 17rem;
  }
}

@media screen and (max-width: 749px) {
  header.header-new .header__icon {
    width: 4rem;
  }
  header.header-new .header__icon.header__icon--summary .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  header.header-new .menu-drawer__navigation-container .menu-title {
    font-family: var(--new-font-heading-family);
    font-size: 1.8rem;
    letter-spacing: 0;
  }
  header.header-new .menu-drawer__menu-item {
    font-family: var(--new-font-heading-family);
    font-size: 1.6rem;
    letter-spacing: 0;
    padding-block: 1.5rem;
    border-bottom: 1px solid rgba(var(--color-header-foreground), 0.6);
  }
}

/* ##### Card Product ##### */
.card-wrapper .card-information__wrapper .meta-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0;
  margin: 0.5rem 0;
}
.card-wrapper .card-information__wrapper .color-swatch,
.card-wrapper .card-information__wrapper .color-swatch::before,
.card-wrapper .card-information__wrapper .color-swatch::after,
.card-wrapper .card-information__wrapper .color-swatch a,
.card-wrapper .card-information__wrapper .color-swatch a::before {
  border-radius: 0;
}
.card-wrapper .badge--onsale {
  font-weight: 600;
  color: #000;
}
.card-wrapper .card-information__button .button {
  min-height: unset;
}

@media screen and (max-width: 749px) {
  .card-wrapper .card-information__text {
    font-size: 1.3rem;
  }
}

/* ##### Collection Page ##### */
/* .facet-nav-wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.facet-nav-wr .facets {
  margin-inline-start: auto;
}
.collection-navigation {
}
.collection-nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.collection-nav-link {
  padding: 1rem 2.5rem;
  border: 1px solid #9C9C9C;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(var(--color-foreground));
  transition: all 0.3s ease;
  font-size: 1.5rem;
  line-height: normal;
  white-space: nowrap;
}
.collection-nav-link:hover {
  background-color: rgba(var(--active-link-bg), 0.3);
}
.collection-nav-link.active {
  background-color: var(--active-link-bg);
  color: rgb(var(--color-background));
}

@media screen and (max-width: 749px) {
  .facet-nav-wr {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
  .collection-navigation {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .collection-nav-links {
    flex-wrap: nowrap;
  }
} */

/* Policy Pages */
.shopify-policy__container {
  max-width: var(--page-width);
  padding-inline: 1.5rem;
}

@media screen and (min-width: 750px) {
  .shopify-policy__container {
    padding-inline: 5rem;
  }
}